.*.jl.cov
*.jl.*.cov
*.jl.mem
.ipynb_checkpoints/
*.tmp
*.aux
*.log
*.out
*.tex
/tutorials/**/*.html
/tutorials/**/*.pdf
/tutorials/**/.quarto/*
/tutorials/**/index_files/*
Testing/
/*/*/jl_*/
/Manifest.toml
/test/Manifest.toml
.vscode
_freeze
_site
.quarto
/.quarto/
