project:
  type: website
  preview:
    # Change port if it's busy in your system or just remove this line so that It will automatically use any free port
    port: 4200
    browser: true

# These cannot be used as variables. They are reserved for the project configuration.
website:
  title: "Turing.jl"
  site-url: "https://turinglang.org/docs"
  description: "Turing.jl is a probabilistic programming language and Bayesian modelling framework for the Julia programming language."
  image: /assets/images/turing-text-logo.jpg
  favicon: /assets/favicon.ico
  open-graph:
    title: "The Turing Language"
    locale: en_GB
    image: /assets/images/turing-text-logo.jpg
    image-alt: "Turing.jl Logo"
  twitter-card:
    creator: "@Hong_Ge2"
    site: "@TuringLang"
    image-width: 4214
    image-height: 1032
  search:
    location: navbar
    type: overlay
  navbar:
    title: false
    logo-href: https://turinglang.org/
    left:
      - text: Get Started
        href: getting-started/
      - text: Tutorials
        href: tutorials/
      - text: FAQ
        href: faq/
      - text: Libraries
        href: https://turinglang.org/library/
      - text: News
        href: https://turinglang.org/news/
      - text: Team
        href: https://turinglang.org/team/
    right:
      # Current version
      - text: "v0.41"
        menu:
          - text: Changelog
            href: https://turinglang.org/docs/changelog.html
          - text: All Versions
            href: https://turinglang.org/docs/versions.html
    tools:
      - icon: twitter-x
        text: Turing Twitter
        href: https://x.com/TuringLang
      - icon: chat-dots
        text: Turing Discourse
        href: https://discourse.julialang.org/c/domain/probprog/48
      - icon: slack
        text: Turing Slack
        href: https://julialang.slack.com/archives/CCYDC34A0
      - icon: github
        text: Turing GitHub
        href: https://github.com/TuringLang

  sidebar:
    - text: documentation
      collapse-level: 1
      contents:
        - getting-started/index.qmd
        - core-functionality/index.qmd

        - section: "User Guide"
          collapse-level: 1
          contents:
            - usage/automatic-differentiation/index.qmd
            - usage/sampling-options/index.qmd
            - usage/submodels/index.qmd
            - usage/custom-distribution/index.qmd
            - usage/probability-interface/index.qmd
            - usage/modifying-logprob/index.qmd
            - usage/tracking-extra-quantities/index.qmd
            - usage/predictive-distributions/index.qmd
            - usage/mode-estimation/index.qmd
            - usage/threadsafe-evaluation/index.qmd
            - usage/performance-tips/index.qmd
            - usage/sampler-visualisation/index.qmd
            - usage/dynamichmc/index.qmd
            - usage/external-samplers/index.qmd
            - usage/troubleshooting/index.qmd

        - section: "Tutorials"
          contents:
            - tutorials/coin-flipping/index.qmd
            - tutorials/gaussian-mixture-models/index.qmd
            - tutorials/bayesian-logistic-regression/index.qmd
            - tutorials/bayesian-neural-networks/index.qmd
            - tutorials/hidden-markov-models/index.qmd
            - tutorials/bayesian-linear-regression/index.qmd
            - tutorials/infinite-mixture-models/index.qmd
            - tutorials/bayesian-poisson-regression/index.qmd
            - tutorials/multinomial-logistic-regression/index.qmd
            - tutorials/variational-inference/index.qmd
            - tutorials/bayesian-differential-equations/index.qmd
            - tutorials/probabilistic-pca/index.qmd
            - tutorials/bayesian-time-series-analysis/index.qmd
            - tutorials/gaussian-processes-introduction/index.qmd
            - tutorials/gaussian-process-latent-variable-models/index.qmd

        - section: "Developers"
          contents:
          - developers/contributing/index.qmd

          - section: "DynamicPPL's Compiler"
            collapse-level: 1
            contents:
              - developers/compiler/model-manual/index.qmd
              - developers/compiler/minituring-compiler/index.qmd
              - developers/compiler/minituring-contexts/index.qmd

          - section: "DynamicPPL Models"
            collapse-level: 1
            contents:
              - developers/models/varinfo-overview/index.qmd

          - section: "DynamicPPL Contexts"
            collapse-level: 1
            contents:
              - developers/contexts/submodel-condition/index.qmd

          - section: "Variable Transformations"
            collapse-level: 1
            contents:
              - developers/transforms/distributions/index.qmd
              - developers/transforms/bijectors/index.qmd
              - developers/transforms/dynamicppl/index.qmd

          - section: "Inference in Detail"
            collapse-level: 1
            contents:
              - developers/inference/variational-inference/index.qmd
              - developers/inference/implementing-samplers/index.qmd

        - faq/index.qmd

  back-to-top-navigation: true
  repo-url: https://github.com/TuringLang/docs
  repo-actions: [edit, issue]
  repo-branch: main
  repo-link-target: _blank
  page-navigation: true

format:
  html:
    theme:
      light: [cosmo, theming/theme-light.scss]
      dark: [cosmo, theming/theme-dark.scss]
    highlight-style: github
    smooth-scroll: true
    output-block-background: true
    toc: true
    toc-title: "Table of Contents"
    code-fold: false
    code-overflow: scroll
    include-in-header:
      - text: |
          <style>
            a {
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
          </style>
    include-after-body:
      file: _includes/footer.html

execute:
  echo: true
  output: true
  freeze: auto

# These variables can be used in any qmd files, e.g. for links:
# the [Getting Started page]({{< meta get-started >}})
# Note that you don't need to prepend `../../` to the link, Quarto will figure
# it out automatically.

core-functionality: core-functionality
get-started: getting-started

tutorials-intro: tutorials/coin-flipping
gaussian-mixture-model: tutorials/gaussian-mixture-models
logistic-regression: tutorials/bayesian-logistic-regression
bayesian-neural-network: tutorials/bayesian-neural-networks
hidden-markov-model: tutorials/hidden-markov-models
linear-regression: tutorials/bayesian-linear-regression
infinite-mixture-model: tutorials/infinite-mixture-models
poisson-regression: tutorials/bayesian-poisson-regression
multinomial-logistic-regression: tutorials/multinomial-logistic-regression
variational-inference: tutorials/variational-inference
bayesian-differential-equations: tutorials/bayesian-differential-equations
probabilistic-pca: tutorials/probabilistic-pca
gplvm: tutorials/gaussian-process-latent-variable-models
seasonal-time-series: tutorials/bayesian-time-series-analysis

usage-automatic-differentiation: usage/automatic-differentiation
usage-custom-distribution: usage/custom-distribution
usage-dynamichmc: usage/dynamichmc
usage-external-samplers: usage/external-samplers
usage-mode-estimation: usage/mode-estimation
usage-modifying-logprob: usage/modifying-logprob
usage-performance-tips: usage/performance-tips
usage-predictive-distributions: usage/predictive-distributions
usage-probability-interface: usage/probability-interface
usage-sampler-visualisation: usage/sampler-visualisation
usage-sampling-options: usage/sampling-options
usage-submodels: usage/submodels
usage-threadsafe-evaluation: usage/threadsafe-evaluation
usage-tracking-extra-quantities: usage/tracking-extra-quantities
usage-troubleshooting: usage/troubleshooting

contributing-guide: developers/contributing
dev-model-manual: developers/compiler/model-manual
contexts: developers/compiler/minituring-contexts
minituring: developers/compiler/minituring-compiler
dev-variational-inference: developers/inference/variational-inference
using-turing-implementing-samplers: developers/inference/implementing-samplers
dev-transforms-distributions: developers/transforms/distributions
dev-transforms-bijectors: developers/transforms/bijectors
dev-transforms-dynamicppl: developers/transforms/dynamicppl
dev-contexts-submodel-condition: developers/contexts/submodel-condition
dev-models-varinfo-overview: developers/models/varinfo-overview
