@import "grays";

$primary: #34b8bf;
$teal-link: #34b8bf;

$links: $teal-link;
$links-hover: lighten($links, 10%);

$code-block-bg: #212529;
$code-background-color: #172424;

$panel-bg: $gray-900;

$background-body: #1c2128;

$body-bg: $background-body;
$navbar-bg: lighten($background-body, 2%);
$navbar-color: $white;

$btn-border-color: $gray-700;

$text-color: $white;
$text-muted: $gray-500;

$body-color: $white;
$navbar-fg: $white;
$footer-fg: $white;
