// theming/variables/_colors-light.scss
@import "grays";

$primary: #2780e3;
$teal-link: #34b8bf;

$links: $teal-link;
$links-hover: lighten($links, 10%);

$code-block-bg: #f1f3f5; 
$panel-bg: $white;

$background-body: $gray-100;

$text-color: $gray-700;
$text-muted: $gray-600;

$btn-border-color: $gray-200;
$body-bg: $background-body;
$navbar-bg: $white;
$navbar-color: $text-muted;

