<footer class="custom-footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-links-wrapper">
        <div class="footer-column footer-explore">
          <h5>Explore</h5>
          <a href="https://turinglang.org/docs/getting-started/">Get Started</a>
          <a href="https://turinglang.org/docs/tutorials/">Tutorials</a>
          <a href="https://turinglang.org/docs/faq/">FAQ</a>
          <a href="https://turinglang.org/library/">Libraries</a>
          <a href="https://turinglang.org/news/">News</a>
          <a href="https://turinglang.org/team/">Team</a>
        </div>

        <div class="footer-column footer-connect">
          <h5>Connect</h5>
          <a href="https://github.com/TuringLang" target="_blank" rel="noopener"><i class="bi bi-github"></i> GitHub</a>
          <a href="https://x.com/TuringLang" target="_blank" rel="noopener"><i class="bi bi-twitter-x"></i> Twitter</a>
          <a href="https://julialang.slack.com/archives/CCYDC34A0" target="_blank" rel="noopener"><i class="bi bi-slack"></i> Slack</a>
          <a href="https://discourse.julialang.org/c/domain/probprog/48" target="_blank" rel="noopener"><i class="bi bi-chat-dots"></i> Discourse</a>
        </div>
      </div>

      <div class="footer-column footer-brands">
        <h5>Supported by leading researchers</h5>
        <p>Turing.jl is developed by researchers and engineers at the following research institutions.</p>
        <div class="logo-grid">
          <a href="https://mlg.eng.cam.ac.uk/" class="partner-logo" target="_blank" rel="noopener">
            <img src="/assets/images/brands/university-cambridge-logo-black-example-640x132.png" alt="University of Cambridge Logo" class="brands-light-mode-logo">
            <img src="/assets/images/brands/university-cambridge-logo-white-example-640x133.png" alt="University of Cambridge Logo Dark" class="brands-dark-mode-logo">
          </a>
          <a href="https://www.turing.ac.uk/" class="partner-logo" target="_blank" rel="noopener">
            <img src="/assets/images/brands/Turing_Logo_1000x400px_Black.webp" alt="The Alan Turing Institute Logo" class="brands-light-mode-logo">
            <img src="/assets/images/brands/Turing_Logo_1000x400px_White.webp" alt="The Alan Turing Institute Logo Dark" class="brands-dark-mode-logo">
          </a>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <p>Turing.jl was created by <a href="https://mlg.eng.cam.ac.uk/hong/" target="_blank" rel="noopener">Hong Ge</a>, and maintained by the core <a href="https://turinglang.org/team/" target="_blank" rel="noopener">team</a> of developers and <a href="https://github.com/TuringLang/Turing.jl/graphs/contributors" target="_blank" rel="noopener">contributors</a>.<br>© 2025 The Turing Project Contributors. <a href="https://github.com/TuringLang/Turing.jl/blob/master/LICENCE" target="_blank" rel="noopener">MIT License</a>.</p>
      <a href="https://github.com/TuringLang/docs/" target="_blank" rel="noopener" class="footer-source-link"><i class="bi bi-github"></i> Website Source</a>
    </div>
  </div>
</footer>