.dropdown-menu {
  background-color: $navbar-bg;
  border-color: $btn-border-color;
  border-radius: $border-radius-sm;
  scrollbar-width: none;
}

.dropdown-item {
  color: $text-muted;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    color: $links-hover;
    background-color: if(lightness($navbar-bg) > 50, darken($navbar-bg, 4%), lighten($navbar-bg, 4%));
  }
}
