h1, h2, h3, h4, h5, h6 {
    color: $text-color !important;
}

p, li {
    color: $text-muted !important;
}

a {
    color: $links;
    &:hover {
        color: $links-hover !important;
    }
}

.quarto-container,
nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: $sidebar-bg;
}

.navbar {
    background-color: $navbar-bg;

    .nav-link,
    .navbar-title,
    .quarto-navigation-tool {
        color: $navbar-color !important;
        transition: color 0.2s ease;

        &:hover {
            color: $links-hover !important;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.cell-output {
    border: $border-width dashed;
}

div.sourceCode,
pre,
.cell {
    background-color: $code-block-bg !important;
}

code {
    background-color: $code-block-bg !important;
    color: $links;
}

// Ensure pre-formatted text and the code within it have the correct colors
pre {
    color: $text-color !important;
    code {
        color: inherit !important; // Inherit color from the <pre> tag
    }
}

.cell-bg {
    background-color: #f1f3f5;
}

.cell-output-stdout code {
    word-break: break-word !important;
    white-space: pre-wrap !important;
}

.cell-output-display {
    svg {
        height: fit-content;
        width: fit-content;
        &.mermaid-js {
            width: 100%;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.footer {
    display: none;
}

.nav-footer-center {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    text-align: center;
    min-width: 100px !important;
    border-radius: 5px;
    max-height: 250px;
    overflow: scroll;
}

.menu-text:hover {
    color: $links-hover !important;
}

.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
    color: $text-muted !important;
}

.ansi-bright-black-fg {
    color: $text-color !important;
}

::selection {
    color: $links-hover;
    background: $navbar-bg;
}

.tooltip {
    --bs-tooltip-color: $black !important;
    --bs-tooltip-bg: $white !important;
}

.sidebar-header {
  display: none;
}