.aa-DetachedOverlay {
  background-color: rgba($background-body, 0.95);
  
  .aa-Form {
    border: none;
    background-color: transparent;
  }
  
  .aa-Input {
    color: $text-color;
    background-color: transparent;
  }
  
  .aa-SubmitIcon, .aa-ClearIcon, .aa-LoadingIcon {
    color: $text-muted;
  }
  
  .aa-DetachedCancelButton {
    color: $links;
    background-color: transparent;
    &:hover {
      color: $links-hover;
    }
  }

  .aa-Panel {
    background-color: $background-body;
  }

  .search-result-header {
    color: $text-color;
    font-weight: 600;
  }

  .search-result-title {
    color: $text-color;
  }

  .search-result-section {
    color: $links;
  }
  
  .search-result-text {
    color: $text-muted;
  }
  
  .search-match {
    color: $links-hover;
    background-color: transparent;
    font-weight: 600;
  }
  
  .aa-Item[aria-selected="true"] {
    .search-item * {
        color: $white !important;
    }

    .search-item {
        .search-result-section, .search-match {
            color: lighten($links, 30%) !important;
        }
    }
  }
  
  .search-result-more {
    color: $links;
    font-weight: 500;
  }
}
