/* css styles */
/* .cell-output {
    background-color: #f1f3f5;
} */

/* .cell-output img {
    max-width: 100%;
    height: auto;
} */

/* .cell-output-display pre {
    word-break: break-wor !important;
    white-space: pre-wrap !important;
}
 */

.navbar a:hover {
    text-decoration: none;
}

.cell-output {
    border: 1px dashed;
}

.cell-bg {
    background-color: #f1f3f5;
}

.cell-output-stdout code {
    word-break: break-wor !important;
    white-space: pre-wrap !important;
}


.cell-output-display svg {
    height: fit-content;
    width: fit-content;
}

.cell-output-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-footer-center {
    display: flex;
    justify-content: center;
}