on:
    push:
      branches:
        - master
  
name: Deploy to GitHub Pages
  
jobs:
    build-and-deploy:
      runs-on: ubuntu-latest
  
      steps:
        - name: Checkout
          uses: actions/checkout@v4
  
        - name: Setup Julia
          uses: julia-actions/setup-julia@v2
          with:
            version: '1.10'
  
        - name: Set up Quarto
          uses: quarto-dev/quarto-actions/setup@v2
          with:
            version: pre-release
        - name: Restore cached _freeze folder
          id: cache-primes-restore
          uses: actions/cache/restore@v4
          with:
            path: |
              _freeze/
            key: ${{ runner.os }}-primes

        - name: Render Quarto site
          run: quarto render

        - name: Save _freeze folder
          id: cache-primes-save
          uses: actions/cache/save@v4
          with:
            path: |
              _freeze/
            key: ${{ steps.cache-primes-restore.outputs.cache-primary-key }}
  
        - name: Deploy to GitHub Pages
          uses: JamesIves/github-pages-deploy-action@v4
          with:
            branch: gh-pages
            folder: _site