name: Check Turing.jl Version
on:
  pull_request:
    paths: ['_quarto.yml']
  workflow_dispatch:

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract current minor version
        id: extract_minor_version
        run: |
          minor_version=$(grep -oP 'text:\s+"v\K\d+\.\d+' _quarto.yml)
          echo "MINOR_VERSION=$minor_version" >> $GITHUB_OUTPUT

      - name: Fetch latest minor version
        id: fetch_latest_minor
        run: |
          repo_url="https://api.github.com/repos/TuringLang/Turing.jl/releases/latest"
          latest=$(curl -s $repo_url | jq -r .tag_name)
          actual_latest_minor=${latest%.*}
          echo "LATEST_MINOR=$actual_latest_minor" >> $GITHUB_OUTPUT
          echo "LATEST=$latest" >> $GITHUB_OUTPUT

      - name: Update _quarto.yml if outdated
        run: |
          minor_version=${{ steps.extract_minor_version.outputs.MINOR_VERSION }}
          latest_minor=${{ steps.fetch_latest_minor.outputs.LATEST_MINOR }}
          if [ "$minor_version" != "$latest_minor" ]; then
            awk -v old="v$minor_version" -v new="$latest_minor" '{gsub(old, new); print}' _quarto.yml > temp.yml && mv temp.yml _quarto.yml
            echo "Updated _quarto.yml to latest minor version: $latest_minor"
          fi

      - uses: getsentry/action-git-diff-suggestions@main
        with:
          message: 'The version in _quarto.yml has been updated to the latest minor version.'