/*-- scss:defaults --*/

$navbar-bg: #192222;
$navbar-fg: #1bb3ac;
$footer-bg: #192222;
$footer-fg: #1bb3ac;
$body-color: #fff;
$body-bg: #131818;

a {
    color: #2aa198 !important;
}

a:hover {
    color: #31dce6 !important;
}

code, p code, ol code, li code, h1 code {
    background-color: #172424 !important;
    color: #2aa198;
}

.cell, .anchored code {
    background-color: #172424 !important;
    color: #2aa198;
}

div.sourceCode {
    background-color: #172424 !important;
}

li {
    color: #979c9c !important;
}

.menu-text:hover {   
    color: #31dce6 !important;
}

p {
    color: #979c9c !important;
}

::selection {
    color: #31dce6;
    background: #192222;
}
